.App-header {
  height: 94vh;
  padding: 20px;
  color: white; 
}

.App-title {
  font-size: 8em;
}

.App-subtitle {
  font-size: 5em;
  position: absolute;
  bottom: 7%;
}

img.logo {
	max-width: 124px;
	max-height: 124px;
}

.navbar {
	height: 6vh;
	background-color: white;
}

.project-container {
	margin: 50px;
	border-radius: 7px;
	border-style: solid;
	border-color: black;
}

.submenu-container {
	margin-top: 20px;
}

.caption {
	position: absolute;
	top: 3%;
	left: 7%;
	color: white;
}

.container-fluid {
	background: #1A1A1A;
	padding: 0px;
}